[Unit]
Description = desc

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -display :0 -nap -noxdamage -passwd nopassword -rfbport 5900 -viewonly -forever -loopbg
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
